<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/alertas"></ion-back-button>
    </ion-buttons>
    <ion-title>Alerta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Registro</h2>

  <ion-item>
    <ion-label position="floating">Ação</ion-label>
    <ion-select [(ngModel)]="alerta.acaoId" placeholder="Selecione uma opção">
      <ion-select-option *ngFor="let a of acoes" [value]="a.id">{{ a.nome }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quantidade</ion-label>
    <ion-input [(ngModel)]="alerta.quantidade" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor Máximo (R$)</ion-label>
    <ion-input [(ngModel)]="alerta.valor" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Situação</ion-label>
    <ion-select [(ngModel)]="alerta.ativo" slot="end">
      <ion-select-option [value]="true">Ativo</ion-select-option>
      <ion-select-option [value]="false">Inativo</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="ion-padding-top">
    <ion-button expand="block" color="primary" (click)="confirmar()">CONFIRMAR</ion-button>
  </div>
</ion-content>